
@import './vars';
@import './_mixins/utils.scss';
.container{
    width:80%;
    background:#1c1c1c;
    @include card2(50px);
    >nav{
       height:10px;
       background:$primary-color;
       width:100%; 
       ul{
           padding:0px;
           margin:0px;
           >li{
               background:yellow;
               &:first-child{
                   color:$primary-color;
               }
           }
       }
    }
}

